<% include ../partials/header %>

<div class="page-center">
<div class="container">
    <h1 class="text-center">W4OLB Club Documents</h1>
      <div class="form-media">
        <div class="row text-center well well-lg" style="display:flex; flex-wrap: wrap;">
           <% foundDocs.reverse().forEach(function(docs){ %>
               <div class="col-md-3 col-sm-6">
                   <div class="thumbnail">
                      <div class="caption">
                          <h4><%= docs.title %></h4>
                          <h5><%= docs.date %></h5>
                          <div>
                            <a href="<%= docs.docLoc %>"><button class="btn btn-lg btn-primary">View Document</button></a>
                          </div>
                      </div>
                   </div>
               </div>
           <% }); %>
       </div>
     </div>
   </div>
</div>
<% include ../partials/footer %>
