
<ul class="nav nav-pills">
  <li class="nav-item active"><a class="nav-link" href="/members">Member List</a></li>
  <li class="nav-item active"><a class="nav-link" href="/info/docs">Member Documents</a></li>
  <li class="nav-item active"><a class="nav-link" href="/info/netscript">Net Schedule</a></li>
  <% if(currentUser && currentUser.isAdmin){ %>
    <li class="nav-item active"><a class="nav-link" href="/application/roster">Applications/Roster</a></li>
  <% } %>
</ul>