
<ul class="nav nav-pills">
  <li role="presentation" class="<% if(url === "/members/" ) { %>active<% } %>"><a href="/members">Member List</a></li>
  <li role="presentation" class="<% if(url === "/forum/" ) { %>active<% } %>"><a href="/forum">Forum</a></li>
  <li role="presentation" class="<% if(url === "/info/netsched/" ) { %>active<% } %>"><a href="/info/netscript">Net Schedule</a></li>
  <li role="presentation" class="<% if(url === "/info/minutes/" ) { %>active<% } %>"><a href="/info/minutes">Meeting Minutes</a></li>
</ul>