<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit Net</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/netsched" method="POST">
                <div class="form-group">
                    <h4>Net Name</h4>
                    <input class="form-control" type="text" name="net">
                </div>
                <div class="form-group">
                    <h4>Link to Net/Club Page(Optional)DO NOT ADD HTTP://</h4>
                    <input class="form-control" type="text" name="externalLink">
                </div>
                <div class="form-group">
                    <h4>Weekday</h4>
                    <input class="form-control" type="text" name="day">
                </div>
                <div class="form-group">
                    <h4>Time</h4>
                    <input class="form-control" type="text" name="time">
                </div>
                <div class="form-group">
                    <h4>Frequency</h4>
                    <input class="form-control" type="text" name="freq">
                </div>
                <div class="form-group">
                    <h4>Tone</h4>
                    <input class="form-control" type="text" name="tone">
                </div>
                <div class="form-group">
                    <h4>Alternate Frequency</h4>
                    <input class="form-control" type="text" name="altFreq">
                </div>
                <div class="form-group">
                    <h4>Alternate Tone</h4>
                    <input class="form-control" type="text" name="altTone">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/netsched/">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>
