<% include partials/header %>


<div class="container">
    <div class="row form-media">
        <div class="col-md-4 form-media">
            <h2>Contact</h2>
            <hr>
            <a type="email" href="mailto:info@w4olb.org"><button type="button" class="btn btn-danger">Send us an Email</button></a>
            <a href="http://m.me/w4olb"><button type="button" class="btn btn-primary">Message us on Facebook</button></a>
            <hr>
            <h4>Visit our club Meeting</h4>
            <p>
                The Smoky Mountain Amateur Radio Club meets the fourth Monday of each Month at 7:00 P.M. excluding 
                the month of June as field day is the Fourth Weekend of the month and the month of December
                as we host a Christmas Party.
            </p>
            <a href="https://www.google.com/maps/place/287+Savannah+Park+Dr,+Maryville,+TN+37803/@35.725395,-84.0004417,17z/data=!3m1!4b1!4m5!3m4!1s0x885e9e6102774d41:0x32ea5c01c86dbe86!8m2!3d35.725395!4d-83.998253">
                <button class="btn btn-success">Directions to Meeting</button>
            </a>
            <a class="title-center" href="https://www.google.com/maps/dir//2508+Middlesettlements+Rd,+Maryville,+TN+37801/@35.784037,-84.0509258,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x885c270d6738666b:0xe10e9034a497ff63!2m2!1d-84.0488398!2d35.7914391">
                <button class="btn btn-success">Directions to Field Day</button>
            </a>
            <hr>
        </div>
        <div class="col-md-8 well well-lg text-inline">
            <h2 class="title-center">Information</h2>
            <div>
                <h5 class="title-center">
                    <a href="http://www.arrl.org/what-is-ham-radio">
                    <button class="btn btn-primary button-sized">
                        <h3>About Ham Radio</h3>
                    </button>
                    </a>
                </h5>
                <h5 class="title-center">
                    <a href="/info/officers">
                    <button class="btn btn-primary button-sized">
                        <h3>Club Officers</h3>
                    </button>
                    </a>
                </h5>
                <h5 class="title-center">
                    <a href="/documents">
                    <button class="btn btn-primary button-sized">
                        <h3>Club Documents</h3>
                    </button>
                    </a>
                </h5>
                <h5 class="title-center">
                    <a href="/info/minutes">
                    <button class="btn btn-primary button-sized">
                        <h3>Meeting Minutes</h3>
                    </button>
                    </a>
                </h5>
            </div>
            <div id="accordion">
                <div class="card">
                        <div class="title-center">
                    <div class="card-header" id="headingVt">
                        <h5 class="mb-0">
                            <button class="btn btn-primary collapsed button-sized" data-toggle="collapse" data-target="#collapseVt" aria-expanded="false" aria-controls="collapseVt">
                                <h3>Available Tests</h3>
                            </button>
                        </h5>
                    </div>
                        </div>
                    <div id="collapseVt" class="collapse" aria-labelledby="headingVt" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                VE sessions are held quarterly at 7:00 PM and the location is the
                                St. Andrew's Church Parish House building which is located behind
                                the church. The address is 314 W. Broadway and the church is next 
                                to the Maryville Municipal Building on the same side of the street.
                                 A photo I.D. and exam fee of $10 is required.
                                2019 Testing dates are:
                                3/11/19
                                6/10/19
                                9/9/19
                                12/9/19
                            </p>
                        </div>
                    </div>
                </div>
            <div id="accordion">
                <div class="card">
                        <div class="title-center">
                    <div class="card-header" id="headingHead">
                        <h5 class="mb-0">
                            <button class="btn btn-primary collapsed button-sized" data-toggle="collapse" data-target="#collapseHead" aria-expanded="false" aria-controls="collapseHead">          
                                <h3>History Of S.M.A.R.C.</h3>
                            </button>
                        </h5>
                    </div>
                        </div>
                    <div id="collapseHead" class="collapse row" aria-labelledby="headingHead" data-parent="#accordion">
                        <div class="card-body well media-body">
                            <h3 class="well"><div class="row">Compiled by:</div> <div class="col-md-4">Charlie Williams AA4WX (ex W4GQL)</div>
                                <div class="col-md-4"> Henry McDonald K4DJV</div> <div class="col-md-4">Carroll Peabody W4PCA</div> 
                                <hr>
                                <div class="row">3/23/93</div></h3>
                                <div id="accordion">
                                    <div class="card">
                                            <div class="title-center">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-info collapsed button-sized" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    <h3>1930's Club History</h3>
                                                </button>
                                            </h5>
                                        </div>
                                            </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <p>
                                                    <div>As the 1930's came to a close there were few amateur radio operators in Blount county.</div>
                                                    <div>No club existed. Among the active amateurs were the following: W4PZ ?Short, W4BXGW. J. (Jack) Huffstetler (Silent Key 1967),</div>
                                                    <div>W4BXQ Clark P. Gordon Silent Key (1980), W4CHI Mead Warren, Jr. (Silent Key 1983), W4DHI Floyd S.(Scotty) ScottForest Park,</div>
                                                    <div>GAW4FHT James R. Crabtree (Silent Key 1984), W4FUW Baxter (Sleepy) Whitehead (Silent Key 19??), W4GQI Glen Shelton (Silent Key 19??), W4GQL Charles E. Williams. Maryville, TN</div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                            <div class="title-center">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-info collapsed button-sized" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <h3>1940's Club History</h3>
                                                </button>
                                            </h5>
                                        </div>
                                            </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                <p>
                                                    <div>   
                                                        An attempt was made to form a club in the fall of 1941. It did not become a firmly established activity
                                                        before amateur operation was suspended for the war years. An amateur War Emergency Radio Service (WERS)
                                                        activity was formed through the American Radio Relay League. There is no record of any such activity in
                                                        Maryville. An impediment to such activity was the scattering of people due to the war. Jack Huffstetler was
                                                        transferred to an ALCOA plant in Brookfield, IL outside Chicago. Jimmie Crabtree was already in the National
                                                        Guard and was called to active duty. Floyd Scott went to work for the Glen L. Martin Aircraft Co. in
                                                        Baltimore MD. Charles Williams finished UT in August 1944 and went in service. Amateur operation resumed
                                                        in the fall of 1945, first on ten meters, and then on other bands as the military released them for civilian
                                                        assignment. The scattered amateurs returned to Maryville except for Floyd Scott, W4DHI, who took a job with
                                                        Delta Airlines in their radio maintenance shop in Atlanta from which he retired some time ago. The Smoky
                                                        Mountain Amateur Radio Club was formed in the fall of 1947 at a meeting at a local radio service shop whose
                                                        owners, J.R. Sullinger and Paul Blankenbeckler, were personal friends of some of the amateurs, though not
                                                        hams themselves. Charles Williams, W4GQL, was elected president; Jack Huffstetler, W4BXG, vice president.
                                                        Offices of secretary and treasurer were filled but no record exists regarding who filled them. The two offices
                                                        may have been combined as is now the case. A. M.(Mac) Curry, W4BXO, later N4BOO (who recently became a silent key),
                                                        and Ralph Harder, W4OEP (silent key, 1981 ), wrote a club constitution. A copy was recently located in the files of W4GQL,
                                                        now AA4WX, and is in the hands of club officers. Not much is known of activities for the rest of the 1940's.
                                                        No records are known to exist. The club did participate in Field Day in at least one of those years. W4BXG and a friend
                                                        "Sleepy" Delbridge(sp?) (who tried hard to become licensed but could not copy the required 13 wpm code) had built a cabin
                                                        in the Kinzel Springs area and a field day was held at the cabin. Operation was mainly, maybe exclusively, on 80 meter
                                                        phone as most of the operators were not strong for CW operation even though many had operated considerable CW prior to
                                                        the war. The club continued to meet at the radio shop. No records of the monthly meetings are known to exist. Sometime in
                                                        1948 it was decided to schedule, in rotation, each monthly meeting at a members ham shack. The idea was to acquaint
                                                        each member with other members equipment and operational features. Light refreshments were served, usually a drink
                                                        appropriate to taste and season and chips, cookies, and such. This was quite successful. It was not a burden as the club
                                                        membership was low in number, probably less than 20. The roster of members in these years included the following:
                                                        W4BXGW. J. (Jack) Huffstetler (Silent Key 1967), W4BXQ Clark P. Gordon (Silent Key 1980), W4CHI Mead Warren, Jr. (Silent Key 1983),
                                                        W4FHT James R. Crabtree (Silent Key 1984), W4GQL Charles E. Williams Maryville, W4HBU Murl H. Lauver (Silent Key 1988),
                                                        W4OEP (W4NLJ) Ralph N. Harder (Silent Key 1981).
                                                    </div>
                                                <p>&nbsp;</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                        <div class="title-center">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                          <button class="btn btn-info collapsed button-sized" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <h3>1950's - 1980's Club History</h3>
                                          </button>
                                        </h5>
                                    </div>
                                        </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                <div>
                                                    As reported by interview with Henry McDonald, K4DJV on 03/22/93, Club "fell apart" sometime in the early 50's.
                                                    It didn't get back together again until 1955 when they reorganized. The then members of the club met at Clark
                                                    Gordon's home. The Communications Officer stationed at McGhee Tyson AFB, Ed Dheig W5ILR got hold of some
                                                    generators and a group of hams went up in the Smokies at a place called Collins Gap, near Clingman's dome.
                                                    Field Day operations have been a major part of the club activities ever since. Mac said he was a Novice that
                                                    year, but he talked to the group on two meters. In 1956 the club membership grew to a point where the meeting
                                                    place had to be relocated to a larger facility. Mac made arrangements for the club to meet at the WGAP studios
                                                    building. Ralph Harder was president of the club at this time. About this time, Ralph Harder was being
                                                    transferred to the ALCOA plant in Warrick, Indiana. He gave all the club information, to Henry Mac, the only
                                                    other member present at the meeting. This meeting turned out to be the last meeting held at WGAP. According to
                                                    Mac, the club did not meet again as a club for about 12 or 14 years. Mac said that Jim Crabtree called one day
                                                    and told him that he (Jim) had lost the club license. Mac re-applied for a new license, explaining to the FCC on
                                                    the application that the original had been lost. Mac said the FCC re-issued a new license, retaining the club call
                                                    W4OLB. For this time period, the club consisted mainly of Henry Mac and a group of Explorer Scouts. Mac kept the
                                                    club license up to date. When the scouts all reached the age where they outgrew scouts the club became a ham club
                                                    again. This was in the late 60's. A ham by the name of Bob Clark came to Maryville from 9 land near Chicago to
                                                    attend Maryville college and U.T. He got a masters in math from U.T. When he became president of the club, he told
                                                    Mac that since Mac was not an Extra Class ham he should not be designated to be the club trustee. A man by the name
                                                    of Eddie Martin eventually became the club trustee. Sometime later, Eddie quit coming to club meetings, so Mr. Clark
                                                    brought the license back to Mac and Mac renewed the license. Bob Clark eventually left the area to teach math at a
                                                    college in Florida. Murl Lauver, W4HBU was president when Clark left. Murl served president for several years in the
                                                    early 70's. Murl was president when this writer transferred from Pittsburgh to Maryville. W4PCA, formerly W3CIJ joined
                                                    the club in 1978. He served a term as president in 1980, has been treasurer since 1981 and secretary/treasurer since the
                                                    two offices were combined in 1990. Some of the activities this writer has been involved in since being a
                                                    part of the club are:
                                                    </div>
                                                    <div>
                                                    <div>1. Radio Novice/Tech training classes</div>
                                                    <div>2. Field day CW station</div>
                                                    <div>3. Special event station for 50th anniversary of Great Smoky Mt. National Park in 1984</div>
                                                    <div>4. Manning the two meter station during summer storm activity at the National Weather Service</div>
                                                    <div>5. Providing two meter communications for the triathlon event out near Tellico Village</div>
                                                    <div>6. Providing two meter communications during the most recent weather related situation, the blizzard of '93</div>

                                                    <p>Recently, several of the newer members of the club have become active in the ARES (Amateur Rado Emergency Service) and RACES 
                                                        (Radio Amateur Civil Emergency Service). Activity picked up when Phil Skeen, N4RYR took the job of Emergency Coordinator for
                                                         the Blount County area. He has since turned the job over to Paul, W9KOC. The ARES/RACES group meets monthly at the Rescue 
                                                         Squad building on Lincoln Street in Alcoa. Phil Skeen also was primarily responsible for obtaining the club 2 meter repeater 
                                                         equipment and getting it on the air. As of this writing, the club repeater carries the call sign N4RYR. Also of this writing 
                                                         there are approximately 77 club members on the roster.</div>
                                                    <div>&nbsp;</div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                        <div class="title-center">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-info collapsed button-sized" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <h3>1990's Club History</h3>
                                            </button>
                                        </h5>
                                    </div>
                                        </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                        <div class="card-body">   
                                            <p>
                                                <div>
                                                    UPDATE: 3/10/97</div>
                                                    The Smoky Mt. ARC took over the coordinated repeater site for the 146.655 frequency vacated by Phil Skeen early in 1995.
                                                    The site was used for a digipeater for packet until the club could acquire replacement equipment to reactivate a repeater
                                                    on the site on Reservoir Hill in Blount County. Phil Skeen, N4RYR released the 146.655/.055 frequency in the fall of 1995
                                                    and the club formed a repeater committee to get a repeater going using the Smoky Mt. Club call W4OLB. The committee members
                                                    were Randy Stephens, KC4PDQ, Kelly Gunter, KR4FK and Dennis Sparks, WB4NBE. Eventually the club members voted to purchase a
                                                    G.E.Master II VHF repeater from Randy Stephens and also voted to purchase a new CAT-300 controller and a Sinclair duplexer
                                                    to get the repeater back on the air. The repeater was back in operation late 1995. The club participated in celebrating the
                                                    Tennessee bicentennial in 1996 by setting up a special event station in the park behind the Blount County Courthouse on July
                                                    4th of that year. Three phone stations operated from a tent canopy with wire antennas strung in the trees. The bands used
                                                    were 40, 20 and 10 meters. Over 400 total contacts were made by the three stations. Sad news followed the next day after the
                                                    special event station activities, with the passing of Henry McDonald. Mac was known throughout East Tennessee as "Mr.
                                                    Blount County" as far as ham radio is concerned. Mac was a charter member of the club as well as the club trustee of W4OLB.
                                                    His love of the hobby and participation will be missed. The club voted to purchase the ARRL ham radio library set of books
                                                    and donate them to the Blount Co. Library as a memorial to honor Mac and his memory. The books arrived and are presently
                                                    available for checkout at the library. Also late in 1996, the club voted Carroll Peabody, W4PCA to take the responsibilities
                                                    of the trustee of the club. A FCC form 610 was submitted and a new license was issued in September of 1996.
                                                    </div>
                                                    </p>                                
                                                </div>
                                        </div>
                                </div>
                            </div>
                            <div>
                                <h5 class="title-center">
                                    <a href="/info/netscript">
                                    <button class="btn btn-primary button-sized">
                                        <h3>Net Script</h3>
                                    </button>
                                    </a>
                                </h5>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>
