<% include partials/header %>

<div class="row">
    <div class="col-md-12 col-xs-12">
<div class="form-media">
<div class="container well well-lg">
    <div class="media">
        <div class="media-left media-middle">
    </div>
        <div class="media-body panel panel-primary form-center">
            <h2 class="media-heading">Club Meetings</h2>
            <p class="form-center">
        The <em>Smoky Mountain Amateur Radio Club</em> meets the fourth Monday of every month in the basement
        of the United Steel Workers of America Hall. <a href="https://www.google.com/maps/dir//united+steel+workers+of+america+alcoa+tn/@35.7780845,-84.0288655,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x885e9fd67598b10b:0x3a6e2de847db238!2m2!1d-83.9690933!2d35.7634634">Click here for Directions</a>. There is no meeting in the month of June due to <a name="fieldDay">Field Day</a>
        and no meeting in December as we host the annual <a name="christmasParty">Christmas Party</a>.
            </p>
        </div>
        <div class="row container picture-center">
            <div class="col-md-4">
                <img class="img-circle" src="images/SmarcMeeting.jpg"/>
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="images/IMG_3965.jpg" />
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="images/IMG_3948.jpg"/>
            </div>
        </div>
    </div>
</div>
</div>

<div class="form-media">
<div class="container well well-lg">
    <div class="media">
        <div class="media-left media-middle">
    </div>
        <div class="media-body panel panel-primary form-center">
            <h2 class="media-heading">Weekly Net</h2>
            <p class="form-center">
            The <em>Smoky Mountain Amateur Radio Net</em> begins each Thursday at 7:00 pm on 146.655. The backup frequency 
            is 146.625 - tone 118.8. All amateurs are welcome! We ask that you provide your Callsign, Name, Location and Affiliations.
            </p>
        </div>
        <div class="row container picture-center">
            <div class="col-md-4">
                <img class="img-circle" src="images/IMG_2724.jpg">
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="images/IMG_208H.jpg">
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="images/IMG_2724.jpg">
            </div>
        </div>
    </div>
</div>

<div class="form-media">
<div class="container well well-lg">
    <div class="media">
        <div class="media-left media-middle">
    </div>
        <div class="media-body panel panel-primary form-center">
            <h2 class="media-heading" name="fielDday">Field Day</h2>
            <p class="form-center">
                The <em>Smoky Mountain Amateur Radio Club</em> has a long and rich tradition of Field Day operations. Located at Middlesettlements United Methodist Church Field of Dreams, the food is
                is always delicious, the fellowship enjoyable, and our competitive results always among the top in our class.
                We are planning and working to make this year’s outing our biggest and best, and we want all of our club
                members and as many visitors as possible to come out to help and enjoy. Make plans now to come out and be
                a part of the greatest tradition in ham radio. Always the fourth weekend of June 2:00 p.m. Saturday until 2:00 p.m. Sunday. We begin setup at 8:00 a.m. during the
                cooler morning hours. Since our regular monthly meeting occurs on the fourth Monday each month, Field Day takes the place of the June meeting.
            </p>
        </div>
        </div>
    </div>
</div>

<div class="form-media">
<div class="container well well-lg">
    <div class="media">
        <div class="media-left media-middle">
    </div>
        <div class="media-body panel panel-primary form-center">
            <h2 class="media-heading" id="christmasParty">Christmas Party</h2>
            <p class="form-center">
            The <em>Smoky Mountain Amateur Radio Club's</em> annual Christmas Party is hosted yearly in the month of
            December and takes place of our regularly scheduled monthly meeting.
            </p>
        </div>
        <div class="row container picture-center">
            <div class="col-md-4">
                <img class="img-circle" src="images/christmas1.jpg">
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="images/christmas2.jpg">    
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="images/christmas3.jpg">
            </div>
    </div>
</div>
</div>
</div>

<% include partials/footer %>
