<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12 form-center">
            <h1>SMARC Login</h1>
            <form class="form-media" action="/login" method="POST">
                <div class="form-group">
                    <input class="" type="text" oninput="this.value=this.value.toLowerCase()" name="username" placeholder="callsign">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Login">
                </div>
                <div class="form-group">
                    <a href="/forgot">Forgot password</a>
                </div>
                <div class="form-group">
                    <a href="/register">Need an account?</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>        
    element.addEventListener('input',function(){this.value=this.value.toLowerCase()});​
</script>

<% include ./partials/footer %>
