<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <form class="" action="/login" method="POST">
                <div class="row">
                    <div class="form-group col-xs-12">
                        <h1 class="text-center">SMARC Login</h1>
                        <br>
                        <input class="form-control" type="text" oninput="this.value=this.value.toLowerCase()" name="username" placeholder="callsign">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <input type="password" class="form-control" name="password" placeholder="password">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 text-center">
                        <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 text-center">
                        <a href="/forgot">Forgot password</a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 text-center">
                        <a href="/register">Need an account?</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-9 form-media">
            <h1 class="text-center">SMARC Online Membership</h1>
            <br>
            <h4>Members, don't forget to update your "My Info" page.</h4>
            <br>
            <p>Select the 3 dots in the upper righthand corner of the page and select "My Info".</p>
            <p>Scroll towards the bottom of the page and take note of the "choose file" button. You may upload a profile image there.</p>
            <p>Also, take note of the "About Me" section. You can write an article about yourself and you may use HTML5 and CSS3 if you would like.</p>
            <p>You will be able to view other people's about me sections by clicking on their callsign in the "Member List" or by visiting i.e. "http://w4olb.org/me/callsign
             Just replace "callsign" with the person you are looking up.
            </p>
            <br>
        </div>
    </div>
</div>

<script>        
    element.addEventListener('input',function(){this.value=this.value.toLowerCase()});​
</script>
<br>
<br>
<br>
<br>
<br>

<% include ./partials/footer %>
