<% include partials/header %>

<div class="form-media">
        <div class="row">
                <div class="col-md-12">
                        <div>
                                <h1 class="title-center">W4OLB Club Repeater Site</h1>
                        </div>
                        <hr>
                        <div>
                                <h4>
                                        Since 1995, SMARC has operated an open 2-Meter FM repeater on 146.655 (-) 
                                        PL100 from the City of Alcoa water tank site up on Reservoir Hill.
                                </h4>
                                <h4>
                                        In 2013, the club's original GE Mastr II repeater had to be retired after rodents 
                                        invaded the Reservoir Hill site, took up residence inside SMARC's equipment cabinet 
                                        and, over a period of several months, gradually damaged the repeater to a total loss.
                                         Members noticed that over time the repeater's performance had deteriorated. Upon 
                                         visiting the site, it was discovered insulation had been gnawed from the internal 
                                         wiring harnesses and large accumulations of mouse feces and urine had corroded the 
                                         chassis and dissolved several PC board traces. The poor old Mastr II was a sticky, 
                                         foul-smelling mess and was deemed unsalvageable. A pair of mobile rigs were wired 
                                         together as a temporary backup repeater.
                                </h4>
                                <h4>
                                        In 2014, the system was rebuilt by Kurt Meltzer, KC4NX with a new Kenwood repeater, 
                                        Henry PA, S-Com controller, new power supply with standby battery and low voltage 
                                        disconnect, Telewave duplexer, Sinclair dual stage isolator, PHEMT preamp with 8-inch 
                                        bandpass cavities and an oversized mouse-proof cabinet. The cabinet is an oversized 
                                        surplus computer server rack, fortified against rodent intrusion. Every cabinet opening 
                                        larger than 3/16" diameter was blocked and all cables exit through tight-fitting 
                                        bushings. We also found and patched some small holes in the building. We're confident 
                                        these measures will keep future generations of mice out of our equipment. They can 
                                        certainly do tremendous damage to a repeater!
                                </h4>
                                <h4>
                                        At about the same time (2014), SMARC worked with the city to clean up their 100' Rohn 
                                        SSV tower. A professional climber was hired by the club to install new Sinclair antennas
                                         for the club repeater and remove several worn out, abandoned 460 MHz antennas which 
                                         formerly served the fire and police departments before their migration to a statewide 
                                         trunking system in 2012. In appreciation of the city's longtime rent-free sponsorship 
                                         of the club on their tower, several members pitched in to clean up the site, mow weeds
                                          and re-paint the equipment shelter, which was showing its age. The new club repeater 
                                          is working great and is something all members can take pride in.
                                </h4>
                                <h4>
                                        In 2018, an open UHF mixed-mode FM/DMR repeater operated by Bob Wilson, KK4XA, was 
                                        co-located with the club's 2-meter machine on Reservoir Hill. Bob's repeater is 
                                        connected to the internet and provides VOIP linking to other DMR repeaters throughout 
                                        the US and many foreign countries, allowing interesting conversations with amateurs of 
                                        other cultures. Bob's repeater operates on 444.075 MHz (+ offset), (FM PL tone = 71.9 Hz 
                                        both encode and decode); ( DMR ID = 314742, Color Code 1). For more information on the 
                                        KK4XA repeater, please contact Bob Wilson, KK4XA.
                                </h4>
                        </div>
                </div>
        </div>
        <div class="row form-media">
            <div class="col-md-4 thumbnail">
                <img class="" src="/images/repeater-pictures/001.jpg" alt="">
            </div>
            <div class="col-md-4 thumbnail">
                <img src="/images/repeater-pictures/004.jpg" alt="">
            </div>        
            <div class="col-md-4 thumbnail">
                <img src="/images/repeater-pictures/008.jpg" alt="">
            </div>
        </div>
</div>

<% include partials/footer %>