<% include ../partials/header %>

<!--Zoho Campaigns Web-Optin Form's Header Code Starts Here-->

<meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<script type="text/javascript" src="https://publ.maillist-manage.com/js/optin.min.js" onload="setupSF('sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217','ZCFORMVIEW',false,'acc',false,'2')"></script>
<script type="text/javascript">
	function runOnFormSubmit_sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217(th){
		/*Before submit, if you want to trigger your event, "include your code here"*/
	};
</script>

<style>
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 #customForm *{
-webkit-box-sizing: border-box !important;
-moz-box-sizing: border-box !important;
box-sizing: border-box !important;
word-break:break-word;
overflow-wrap: break-word;
}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 #imgBlock{
width:83% !important;
}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 #browseImg{
width:83% !important;
}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 #logoCustomizeDiv{
width:83% !important;
}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 [name="SIGNUP_REQUIRED"]{
position:absolute;
}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 .zcsffield{
position: relative;
}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 [changeitem="SIGNUP_FORM_FIELD"]{
outline:0 !important;
}
/*** RESPONSIVE START */
@media only screen and (max-width: 200px){
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 #signupMainDiv{
width:220px !important;
min-width:220px !important;
margin: 0px auto !important;
}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 .recaptcha{
transform:scale(0.72);
-webkit-transform:scale(0.72);
transform-origin:0 0;
-webkit-transform-origin:0 0;
}
}
@media only screen and (min-width: 201px) and (max-width:319px){
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 .recaptcha{
transform:scale(0.55);
-webkit-transform:scale(0.55);
transform-origin:0 0;
-webkit-transform-origin:0 0;
margin-left:0px;
}
}
@media only screen and (min-width: 320px) and (max-width:580px){
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 #signupMainDiv{
width:280px !important;
min-width:280px !important;
margin: 0px auto !important;	
}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 .recaptcha{
transform:scale(0.45);
-webkit-transform:scale(0.45);
transform-origin:0 0;
-webkit-transform-origin:0 0;
margin-left:0px;
}
}
@media only screen and (max-width:580px){
#SIGNUP_BODY_ALL{
display:block !important;
}
#SIGNUP_BODY_ALL  div:first-child
{        
width: 100% !important;
background-size: contain !important;
background-position: 50% !important;
background-image: none !important;
} 
#SIGNUP_BODY
{
width:100% !important;
}
#LOGO_ALL
{
Position:unset !important;
}
}
@media only screen and (min-width: 581px) and (max-width:699px){
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 .recaptcha{
transform:scale(0.72);
-webkit-transform:scale(0.72);
transform-origin:0 0;
-webkit-transform-origin:0 0;
margin-left:0px;
}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 #signupMainDiv{
width:600px !important;
min-width:600px !important;
margin: 0px auto !important;	
}
}
/* Large Screens */
@media only screen  and (min-width : 1824px) {
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 #signupMainDiv{
width:600px !important;
min-width:600px !important;
margin: 0px auto !important;	
}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 .recaptcha{
transform:scale(1.03);-webkit-transform:scale(1.08);transform-origin:0 0;-webkit-transform-origin:0 0;}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 700px) and (max-width : 1024px) {
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 #signupMainDiv{
width:600px !important;
min-width:600px !important;
margin: 0px auto !important;	
}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 .recaptcha{
transform:scale(0.90);-webkit-transform:scale(0.90);transform-origin:0 0;-webkit-transform-origin:0 0;}
}
/*** RESPONSIVE START */
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 .bdr_btm_hover{background-color:#f9f9f9; padding:10px;}
#sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217 .bdr_btm{padding:10px }

</style>

<!--Zoho Campaigns Web-Optin Form's Header Code Ends Here--><!--Zoho Campaigns Web-Optin Form Starts Here-->

<div id="sf3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217" data-type="signupform">
	<input type="hidden" id="signupFormType" value="LargeForm_Vertical">
	<input type="hidden" id="recapTheme" value="2">
	<input type="hidden" id="isRecapIntegDone" value="false">
	<div id="customForm">
		<div name="SIGNUP_PAGE" class="large_form_12_css" id="SIGNUP_PAGE" style="background-color: rgb(137, 217, 242); color: rgb(255, 255, 255); padding: 30px; font-size: 14px; font-family: Arial; text-align: center; outline: none;">
			<br>
			<div id="signupMainDiv" style="margin: 0px auto; width: 100%; min-width: 230px; max-width: 600px;" name="SIGNUPFORM" changeid="SIGNUPFORM" changename="SIGNUPFORM">
				<div>
					<div style="position:relative;">
						<div id="Zc_SignupSuccess" style="display:none;position:absolute;margin-left:4%;width:90%;background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154);  margin-top: 10px;margin-bottom:10px;word-break:break-all">
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tbody>
									<tr>
										<td width="10%">
											<img class="successicon" src="https://publ.maillist-manage.com/images/challangeiconenable.jpg" align="absmiddle">
										</td>
										<td>
											<span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;Thank you for Signing Up</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<form method="POST" id="zcampaignOptinForm" style="margin:0px;" action="https://publ.maillist-manage.com/weboptin.zc" target="_zcSignup">
						<div id="SIGNUP_BODY_ALL" name="SIGNUP_BODY_ALL" style="display: flex; border-color: rgb(218, 216, 216); border-width: 1px; border-style: none;">
							<div name="SIGNUP_HEADING" style="width: 35%; position: relative; letter-spacing: 1px; background-color: rgb(21, 111, 137); padding: 20px; color: rgb(255, 255, 255); font-size: 17px; font-family: Arial; border-width: 1px; border-color: rgb(21, 111, 137); border-style: none; text-align: left;">
								<div changeid="SIGNUP_MSG" changetype="SIGNUP_HEADER" style="margin-top: 40px">Join Our Mailing List</div>
								<div style="line-height:1.6;font-size:12px;padding-top:20px" class="" changeid="SIGNUP_MSG" id="SIGNUP_DESCRIPTION" changetype="SIGNUP_DESCRIPTION">Please complete this form to create an account, receive email updates and much more.</div>
								<div id="LOGO_ALL" style="position:absolute;bottom:40px;width: 100%;left: 0;">
									<div name="" changeid="" changename="" style="margin:0px auto">
										<div id="imgBlock" name="LOGO_DIV" logo="true" style="width: 600px; margin: 0px auto; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; text-align: left;">
											<img valign="middle" src="https://campaign-image.com/zohocampaigns/129319d29_smarc_web_banner_v1_unsquished.png" name="LOGO" id="iframeImg" style="max-width: 100%; width: 100px; height: auto;">
										</div>
									</div>
								</div>
							</div>
							<div style="width: 65%; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); padding: 20px; bottom: 2px; font-size: 11px; font-family: Arial; text-align: center; opacity: 1;" id="SIGNUP_BODY" name="SIGNUP_BODY">
								<div style="margin:0px auto;text-align:left;position:relative">
									<div style="display:none;background-color:#FFEBE8;padding:10px 10px; color:#d20000; font-size:11px; margin:10px 0px;border:solid 1px #ffd9d3; margin-top:20px;" id="errorMsgDiv">&nbsp;&nbsp;Please correct the marked field(s) below.</div>
									<div>
										<div style="font-size:12px;  margin-top:10px;" name="fieldsdivSf" class="zcsffieldsdiv">
											<div style="padding:10px 0px 10px 0px;" class="zcsffield " fieldid="703940000000000021">
												<div style="">
													<input style="width: 97%; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); border-radius: 0px; height: 38px; padding: 2px; border: 1px solid rgb(222, 222, 222); font-family: Arial; text-indent: 5px; box-sizing: border-box; font-size: 12px;" maxlength="100" placeholder="Contact Email" name="CONTACT_EMAIL" changeitem="SIGNUP_FORM_FIELD" type="text">&nbsp;
													
													
													<span name="SIGNUP_REQUIRED" style="color: rgb(180, 0, 0); font-size: 11px; font-family: Arial;">*</span>
													<span style="display:none" id="dt_CONTACT_EMAIL">1,true,6,Contact Email,2</span>
												</div>
												
												
												
												
												
												<div style="clear:both"></div>
											
											
											
											
											
											</div>
											<div style="padding:10px 0px 10px 0px;" class="zcsffield " fieldid="703940000000000023">
												<div style="">
													<input style="width: 97%; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); border-radius: 0px; height: 38px; padding: 2px; border: 1px solid rgb(222, 222, 222); font-family: Arial; text-indent: 5px; box-sizing: border-box; font-size: 12px;" maxlength="100" placeholder="First Name" name="FIRSTNAME" changeitem="SIGNUP_FORM_FIELD" type="text">&nbsp;<span name="SIGNUP_REQUIRED" style="color: rgb(180, 0, 0); font-size: 11px; font-family: Arial;">*</span>
													<span style="display:none" id="dt_FIRSTNAME">1,true,1,First Name,2</span>
												</div><div style="clear:both"></div></div>
											<div style="padding:10px 0px 10px 0px;" class="zcsffield " fieldid="703940000000000025">
												<div style="">
													<input style="width: 97%; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); border-radius: 0px; height: 38px; padding: 2px; border: 1px solid rgb(222, 222, 222); font-family: Arial; text-indent: 5px; box-sizing: border-box; font-size: 12px;" maxlength="100" placeholder="Last Name" name="LASTNAME" changeitem="SIGNUP_FORM_FIELD" type="text">&nbsp;<span name="SIGNUP_REQUIRED" style="color: rgb(180, 0, 0); font-size: 11px; font-family: Arial;">*</span>
													<span style="display:none" id="dt_LASTNAME">1,true,1,Last Name,2</span>
												</div><div style="clear:both"></div></div>
											<div style="padding:10px 0px 10px 0px;" class="zcsffield " fieldid="703940000000041238">
												<div style="">
													<input style="width: 97%; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); border-radius: 0px; height: 38px; padding: 2px; border: 1px solid rgb(222, 222, 222); font-family: Arial; text-indent: 5px; box-sizing: border-box; font-size: 12px;" maxlength="100" placeholder="Callsign" name="CONTACT_CF1" changeitem="SIGNUP_FORM_FIELD" type="text">&nbsp;
													<span style="display:none" id="dt_CONTACT_CF1">1,false,1,Callsign,2</span>
												</div><div style="clear:both"></div></div>
											<div style="padding:10px 0px 10px 0px;" class="zcsffield " fieldid="703940000000000035">
												<div style="">
													<input style="width: 97%; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); border-radius: 0px; height: 38px; padding: 2px; border: 1px solid rgb(222, 222, 222); font-family: Arial; text-indent: 5px; box-sizing: border-box; font-size: 12px;" maxlength="100" placeholder="State" name="STATE" changeitem="SIGNUP_FORM_FIELD" type="text">&nbsp;
													<span style="display:none" id="dt_STATE">1,false,1,State,2</span>
												</div><div style="clear:both"></div></div>
											<div style="padding:10px 0px 10px 0px;" class="zcsffield " fieldid="703940000000000033">
												<div style="">
													<input style="width: 97%; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); border-radius: 0px; height: 38px; padding: 2px; border: 1px solid rgb(222, 222, 222); font-family: Arial; text-indent: 5px; box-sizing: border-box; font-size: 12px;" maxlength="100" placeholder="City" name="CITY" changeitem="SIGNUP_FORM_FIELD" type="text">&nbsp;
													<span style="display:none" id="dt_CITY">1,false,1,City,2</span>
												</div><div style="clear:both"></div></div>
										</div><!-- Captcha for Signup -->
										<div class="recaptcha" style="padding: 10px 0px 10px 10px;" id="captchaOld" name="captchaContainer">
											<div style="">
												<div style="width: 59%; float: left; min-width: 170px; max-width: 70%;" id="captchaParent">
													<img src="//campaigns.zoho.com/images/refresh_icon.png" style="cursor: pointer;float:right;margin-right:4px" onclick="loadCaptcha('https://campaigns.zoho.com/campaigns/CaptchaVerify.zc?mode=generate',this);" id="relCaptcha">
													<div id="captchaDiv" captcha="true" name="" style="padding: 20px;background:#fff;border: 1px solid rgb(222, 222, 222);box-sizing: border-box;width:98.8%"></div>
													<input placeholder="Captcha" id="captchaText" name="captchaText" changeitem="SIGNUP_FORM_FIELD" style="margin-top: 5px; width: 98.7%; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); border-radius: 0px; height: 38px; padding: 2px; border: 1px solid rgb(222, 222, 222); font-family: Arial; text-indent: 5px; box-sizing: border-box; font-size: 12px;" maxlength="100" type="text">
													<span name="SIGNUP_REQUIRED" id="capRequired" style="color: rgb(180, 0, 0); margin-top: -16px; margin-right: -2px; float: right; font-size: 11px; font-family: Arial;">*</span>
												</div>
											</div>
											<div style="clear: both"></div>
										</div>
										<input type="hidden" id="secretid" value="6LdNeDUUAAAAAG5l7cJfv1AA5OKLslkrOa_xXxLs"><!-- Captcha for Signup End--><!-- Other Lists Subscription Start-->
										<div style=" border-bottom:#ebebeb dotted 1px; margin-top:10px; clear:both;"></div>
										<div id="REQUIRED_FIELD_TEXT" changetype="REQUIRED_FIELD_TEXT" name="SIGNUP_REQUIRED" style="color: rgb(180, 0, 0); padding: 10px 10px 10px 0px; position: relative; font-size: 11px; font-family: Arial;">*Required Fields</div>
										<div style="padding:10px; text-align:center;">
											<input type="submit" action="Save" id="zcWebOptin" name="SIGNUP_SUBMIT_BUTTON" changetype="SIGNUP_SUBMIT_BUTTON_TEXT" style="cursor: pointer; -webkit-appearance: none; color: rgb(255, 255, 255); background-color: rgb(142, 185, 52); background-position: center bottom; background-repeat: repeat-x; outline: none medium; font-family: Arial; border-radius: 3px; font-size: 14px; border-color: rgb(142, 185, 52); border-width: 5px; border-style: solid; padding: 5px 15px; text-align: center;" value="Join Now">
										</div>
									</div>
								</div>
							</div><!-- Do not edit the below Zoho Campaigns hidden tags -->
							<input type="hidden" id="fieldBorder" value="">
							<input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW" onload="">
							<input type="hidden" name="viewFrom" id="viewFrom" value="URL_ACTION">
							<input type="hidden" id="submitType" name="submitType" value="optinCustomView">
							<input type="hidden" id="lD" name="lD" value="19c4e5b34b30e0f8">
							<input type="hidden" name="emailReportId" id="emailReportId" value="">
							<input type="hidden" name="zx" id="cmpZuid" value="129319d29">
							<input type="hidden" name="zcvers" value="3.0">
							<input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
							<input type="hidden" id="mode" name="mode" value="OptinCreateView">
							<input type="hidden" id="zcld" name="zcld" value="19c4e5b34b30e0f8">
							<input type="hidden" id="zctd" name="zctd" value="">
							<input type="hidden" id="document_domain" value="">
							<input type="hidden" id="zc_Url" value="publ.maillist-manage.com">
							<input type="hidden" id="new_optin_response_in" value="0">
							<input type="hidden" id="duplicate_optin_response_in" value="0">
							<input type="hidden" id="zc_formIx" name="zc_formIx" value="3d0b4b4b36143912d1dcbe3c2647fb9b0ba03c94d5d66217"><!-- End of the campaigns hidden tags --></div>
					</form>
				</div>
				<div style="margin: 0px auto;margin-top:20px;text-align:left;height:76px;" id="privacyNotes" identity="privacyNotes">
					<span>Note: It is our responsibility to protect your privacy and we guarantee that your data will be completely confidential.</span>
				</div>
			</div>
		</div>
		<input type="hidden" id="isCaptchaNeeded" value="true">
		<input type="hidden" id="superAdminCap" value="0">
		<img src="https://publ.maillist-manage.com/images/spacer.gif" onload="referenceSetter(this)" id="refImage" style="display:none;">
	</div>
</div>
<div id="zcOptinOverLay" oncontextmenu="return false" style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;"></div>
<div id="zcOptinSuccessPopup" style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
	<span style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;" id="closeSuccess">
		<img src="https://publ.maillist-manage.com/images/videoclose.png">
	</span>
	<div id="zcOptinSuccessPanel"></div>
</div>

<!--Zoho Campaigns Web-Optin Form Ends Here-->

<% include ../partials/footer %>