<%- include ../partials/header %>
<div class="row">
	<div class="col-md-12">
		<br>
		<div class="classictemplate template text-center" style="display: block;">
			<div id="groupsio_embed_signup" >
				<form action="https://groups.io/g/SMARC/signup?u=2387041258434320930" method="post" id="groupsio-embedded-subscribe-form" name="groupsio-embedded-subscribe-form" target="_blank">
				    <div id="groupsio_embed_signup_scroll form-group">
						<h1>Mailing List</h1>
						<h2>Groups.io</h2>
						<br>
						<p>If you love ham radio as much as we do, please subscribe to our mailing list.</p>
						<p>You do not have to be a SMARC member to get in on the fun!</p>
						<br>
							<div class="input-group text-center container d-flex justify-content-center">
								<span class="input-group-text">Email</span>
								<input style="max-width: 300px;" type="email" value="" name="email" class="form-control email" id="email" required>
							</div>
				    	  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2387041258434320930" tabindex="-1" value=""></div>
				    	<div id="templatearchives"></div>
					<br>
				    <input type="submit" value="Subscribe" name="subscribe" id="groupsio-embedded-subscribe" class="btn btn-primary mb-5">
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>