<% include ../partials/header %>

<div class="container">
    <div class="row">
    <div class="title-center">
            <h1>Meeting Minutes</h1>
            <hr>
        </div>
        <% campground.comments.reverse().forEach(function(comment){ %>
        <div class="col-md-12 well well-lg">
            <h4>
                <%= comment.title %>
            </h4>
            <hr>
            <p>
                <%= comment.text %> 
            </p>
        </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>

