<% include ../partials/header %>

<div class="container">
    <div class="row well">
        <div class="col-xs-6 col-md-4">
            <h2>President</h2>
            <h3>Bob Wilson, KK4XA</h3>
            <img class="customimg" src="https://s3.amazonaws.com/files.qrz.com/a/kk4xa/IMG954055.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-4">
            <h2>Vice President</h2>
            <h3>Tom Jenkinson, WB7TLW</h3>
            <img class="customimg" src="https://s3.amazonaws.com/files.qrz.com/w/wb7tlw/RADIO_STATION.png" alt="">
        </div>
        <div class="col-xs-6 col-md-4">
            <h2>Repeater Board Chairman</h2>
            <h3>Kurt Meltzer, KC4NX</h3>
            <img class="customimg" src="https://s3.amazonaws.com/files.qrz.com/x/kc4nx/PRIMARY_IMAGE.JPG">
        </div>
    </div>
    <div class="row well">
        <div class="col-xs-6 col-md-4">
            <h2>Secretary</h2>
            <h3>Carroll Peabody, W4PCA</h3>
            <img class="customimg" src="https://s3.amazonaws.com/files.qrz.com/a/w4pca/IMG_0346.JPG" alt="">
        </div>
        <div class="col-xs-6 col-md-4">
            <h2>Treasurer</h2>
            <h3>Randy Jackson, K4RDJ</h3>
            <img class="customimg" src="" alt="">
        </div>
        <div class="col-xs-6 col-md-4">
            <h2>Newletter Publisher</h2>
            <h3>Steve Carpenter, K4DXV</h3>
            <img class="customimg" src="https://s3.amazonaws.com/files.qrz.com/v/k4dxv/100_0621.JPG">
        </div>
    <div class="row well">
        <div class="col-xs-6 col-md-4">
            <h2>Public Information</h2>
            <h3>Tom Jenkinson, WB7TLW</h3>
            <img class="customimg" src="https://s3.amazonaws.com/files.qrz.com/w/wb7tlw/RADIO_STATION.png" alt="">
        </div>
        <div class="col-xs-6 col-md-4">
            <h2>Net Manager</h2>
            <h3>Melvin Turner, WB5KSM</h3>
            <img class="customimg" src="https://s3.amazonaws.com/files.qrz.com/m/wb5ksm/Orise_Camera_Pic_052.JPG" alt="">
        </div>
	<div class="col-xs-6 col-md-4">
	    <h2>Website Developer</h2>
	    <h3>Jordan Webb, K4AVG</h3>
	    <img class="customimg" src="https://s3.amazonaws.com/files.qrz.com/g/k4avg/IMG_0309.jpg" alt="">
	</div>
    </div>
</div>

<% include ../partials/footer %>
