<% include ../partials/header %>

<div class="container">
    <div class="title-center">
        <h1>Silent Key Memorial</h1>
        <hr>
    </div>
    <% campground.comments.forEach(function(comment){ %>
        <div class="row form-center">
                <h4>
                    <%= comment.text %> 
                </h4>
        </div>
    <% }) %>
</div>

<% include ../partials/footer %>