<% include ../partials/header %>

<div class="container form-center">
<h1>A Memorial for our passed brothers and sisters</h1>
<hr>
<% campground.comments.forEach(function(comment){ %>
    <div class="row">
        <div class="col-md-12">
            <h3> <%= comment.text %> </h3>
            <span class="pull-right"></span>
            <p>
                
            </p>
        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            </form>
        <% } %>
        </div>
    </div>
<% }) %>
</div>

<% include ../partials/footer %>