<% include ../partials/header %>

<div class="container">
        <h1 class="title-center">Silent Key Memorial</h1>
        <hr>
        <div class="row text-center well well-lg" style="display:flex; flex-wrap: wrap;">
           <% foundSk.reverse().forEach(function(sk){ %>
               <div class="col-md-3 col-sm-6">
                   <div class="thumbnail">
                      <div class="caption">
                          <h4><%= sk.name %></h4>
                          <h5><%= sk.callsign %></h5>
                      </div>
                   </div>
               </div>
           <% }); %>
       </div>
   </div>

<% include ../partials/footer %>