body {
  background-color: #c2c2c2;
}

.banner {
  width: 100%;
  height: auto;
}

.dropdown-menu {
  background-color: #212529;
  border: none;
}

.dropdown-item {
  color: white;
}

.dropdown .nav-link {
  color: white;
}

.brand {
  height: 50px;
  width: auto;
}

.eventImages {
  max-width: 200px;
  max-height: auto;
}

.card {
  height: 100%;
}