.thumbnail img {
  width: 100%;
}

.initial {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

#delete-form {
  display: inline;
}

.form-center {
  padding: auto;
  padding-top: 20px;
  margin: auto;
  text-align: center;
  font-size: 120%;
}

.text-right {
  text-align: right;
}

.picture-center {
  padding: 50px 0;
  /* padding-top: 20px;
    padding-left: 21%; */
}

.picture-center > div {
  text-align: center;
}
.picture-center > div img {
  max-width: 250px;
}

.form-media {
  padding-top: 20px;
}

.user-show-market {
  padding-top: 100px;
  padding-left: 60px;
}

.table th,
.table td {
  border-top: none !important;
}

ul {
  list-style: none;
}

.widgets {
  padding-left: 10px;
  object-position: center;
}

.jumbotron {
  margin-bottom: 0px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  width: auto;
  height: auto;
}

.customimg {
  height: 40vh;
  width: auto;
}

.divimage {
  padding-left: 60px;
}

.centerjumbo {
  align-items: center;
  padding-right: 50px;
}

.title-center {
  padding: auto;
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

/* .well-blue{
    background-color: #80b8de;
} */

.button-sized {
  height: 70px;
  width: 300px;
  /* max-width: auto;
    max-height: auto; */
}

.banner {
  max-width: 100%;
  max-height: 100%;
}

.row {
  margin-right: 15px;
}

.page-center {
  padding-left: 30px;
}

.well-expand {
  padding-right: 10px;
}

[draggable] {
  user-select: none;
}

.navbar-inverse {
  color: white !important;
}

body {
  background-color: #88daf2;
}

.profile-image {
  padding-left: 10%;
  padding-right: auto;
  float: left;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.net-img {
  padding-left: 10%;
  padding-right: auto;
  float: left;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}
