<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Home Page Edit</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/home" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="body" id="htmeditor"></textarea><script src="https://htmeditor.com/js/htmeditor.min.js" htmeditor_textarea="htmeditor" full_screen="no" editor_height="480" run_local="no"> </script> 
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="link1name" placeholder="Link 1 name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="link1" placeholder="Link 1">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="link2name" placeholder="Link 2 name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="link2" placeholder="Link 2">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image1" placeholder="Image 1">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image2" placeholder="Image 2">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image3" placeholder="Image 3">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="order" placeholder="Order" value="<%= foundHome.order %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/radiomarket">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>
