<% include ../partials/header %> 

 <div class="container page-center form-media text-center">
    <div class="row">
        <div class="col-md-12">
            <% if(currentUser && currentUser.isMember === true){ %>
            <div class="form-media">
                <a class="btn btn-md btn-primary" href="/radiomarket/new">Add Listing</a>
            </div>
            <% } %>
            <br>
             <div class="row form-media text-center" style="display:flex; flex-wrap: wrap;">
                <% campgrounds.forEach(function(campground){ %>
                    <div class="col-md-3 col-sm-6 mt-1">
                        <div class="card shadow-lg">
                           <img class="img-fluid" src="<%= campground.image %>">
                           <div class="caption">
                               <h4><%= campground.name %></h4>
                           </div>
                           <p>
                               <a href="/radiomarket/<%= campground._id %>" class="btn btn-primary">More Info</a>
                           </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
