<% include ../partials/header %> 

 <div class="container">
     <h1>Admin Edit Page</h1>
        <a class="btn btn-primary btn-large" href="/radiomarket/new">Add New Page</a> 
        <% if(!currentUser){ %>
            <a href="/login">login</a>
        <% } else { %>
            <a href="/logout">logout</a>
        <% } %>
        <hr>
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= campground.image %>">
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                   </div>
                   <p>
                       <a href="/radiomarket/<%= campground._id %>" class="btn btn-primary">Edit Page</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
